@charset "UTF-8";
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
/* Importing Roboto font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");
#header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar {
  background-color: #7E8564;
  font-weight: 300;
  height: 13vh;
  border-bottom: 1px solid white;
  /* Logo mobile styles for smaller screens */
}
.navbar a:hover {
  color: rgba(250, 232, 212, 0.7764705882);
}
.navbar .navbar-toggler {
  margin-right: 1em;
  border: 1px solid rgba(252, 252, 252, 0.6196078431);
}
.navbar .margin-logo {
  position: absolute;
  margin-left: 6rem;
}
@media only screen and (max-width: 1000px) {
  .navbar {
    height: 100%;
  }
  .navbar .margin-logo {
    position: relative;
    display: block;
    margin-left: 3em;
  }
}

/* Active navbar link styles */
.navbar-nav .nav-link.active {
  color: rgba(250, 232, 212, 0.7764705882);
  font-weight: 400;
}

.nav-link {
  color: white;
  font-size: 1.3rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

/* Subheading styles in index.html */
.about {
  font-size: 1.3rem;
  color: gray;
  display: block;
  font-weight: 300;
  white-space: pre-line;
}

.row-about {
  height: 90vh;
}

@media only screen and (max-width: 1000px) {
  .min-vh-mobile {
    min-height: 105vh;
  }
}

/* Pharmacy image styles */
.pharmacy-img {
  max-width: 80vw;
}

/* Pharmacy image styles for smaller screens */
@media only screen and (max-width: 1000px) {
  .pharmacy-img {
    margin-top: 2rem;
  }
}
/*Removing bootstraps container styles*/
.container-flower {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
}

/* Row vitaly styles */
.row-vitaly {
  margin-top: 5rem;
}

/* Button styles */
.button {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 8px 20px;
  text-align: center;
  border: 0.1rem solid #7D8566;
  text-decoration: none;
  color: #7D8566;
  white-space: nowrap;
  z-index: 0;
  border-radius: 0.2rem;
  margin-top: 1rem;
}

.button i {
  padding-right: 8px;
}

/* Slide effect fot the button */
.slide-effect::before {
  position: absolute;
  content: "";
  background: #7D8566;
  transition-duration: 0.3s;
  z-index: -1;
  inset: 0 0 auto auto;
  width: 0;
  height: 100%;
  opacity: 1;
}

.slide-effect:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.slide-effect:hover {
  color: white;
  transition: color 0.3s ease 0s, background 0s ease 0.3s;
  font-style: italic;
}

/* Styles for scroll down arrow */
.scroll-down-arrow {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  animation: arrowBounce 2s infinite;
}

.arrow {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

@keyframes arrowBounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
/* Add image in background image*/
.img-about-title {
  background-image: url("../img/vitaly/img-vitaly-title.jpg");
}

/* Paragraph styles for the about section */
.paragraph-about {
  color: gray;
  font-size: 1.1rem;
  white-space: pre-line;
}

/* About us testimonials cards */
.testimonies-card {
  position: relative;
  color: #000;
  text-align: center;
  background-color: #7D8566;
  padding: 2rem;
  background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
  box-sizing: border-box;
  /*Testimonials quotes*/
  /* Circle photo styles*/
}
.testimonies-card *, .testimonies-card *:before, .testimonies-card *:after {
  box-sizing: border-box;
  transition: all 0.35s ease;
}
.testimonies-card div {
  width: 100%;
}
.testimonies-card span,
.testimonies-card p,
.testimonies-card blockquote {
  margin: 0;
  font-weight: 300;
}
.testimonies-card p {
  color: white;
  font-size: 1.5rem;
}
.testimonies-card span {
  color: #a6a6a6;
}
.testimonies-card blockquote {
  font-size: 1.2rem;
  padding: 3rem 2rem 2.5rem 2.5rem;
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: inset -0.028rem -0.028rem 0.056rem rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
  min-height: 25vh;
}
.testimonies-card blockquote:before {
  content: "“";
  position: absolute;
  font-size: 4.375rem;
  opacity: 0.25;
  font-style: normal;
  top: 0;
  left: 2rem;
}
.testimonies-card .profile {
  width: 6.25rem;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0.093rem 0.093rem 0.625rem rgba(0, 0, 0, 0.4);
  margin-bottom: 0.625rem;
  border: solid 0.625rem #a6a57a;
}

/* Add image in background image*/
.img-contact-title {
  background-image: url("../img/banner/img-contact-title.jpg");
}

.contact-container {
  margin: 2.5rem;
}

/* Contact section paragraph styles */
.contact-paragraph {
  color: gray;
  display: block;
}

/* Margin styles for contact section row */
.contact-row-margin {
  margin-top: 2.5rem;
}

.maps-container {
  display: flex;
  margin: 2.5rem;
}

form {
  max-width: 50vw;
  display: grid;
  margin: 2rem auto auto;
}

/* form styles for smaller screens */
@media only screen and (max-width: 768px) {
  form {
    max-width: 100%;
  }
}
/* Label styles for form fields */
label {
  display: block;
  margin-bottom: 5px;
}

/* Input and textarea styles for form fields */
input, textarea {
  width: 100%;
  padding: 0.5rem;
  border: 0.1rem solid #7D8566;
  border-radius: 0.3rem;
  box-sizing: border-box;
  margin-bottom: 0.6rem;
}

/* Submit button styles */
.button-enviar {
  background-color: #7D8566;
  color: white;
  border: none;
  border-radius: 2rem;
  width: 7rem;
}

/* Hover styles for submit button */
.button-enviar:hover {
  background-color: #2A2A2A;
  color: white;
}

/* Add image in background image*/
.img-points-title {
  background-image: url("../img/banner/img-points-title.jpg");
}

.background-color-map {
  background-color: #7E8564;
}
@media only screen and (max-width: 1000px) {
  .background-color-map {
    background-color: white;
  }
}

.gif-maps {
  height: 80%;
  width: 100%;
}

.image-container {
  position: relative;
  display: inline-block;
}

/* Removing padding from Boostrap*/
.remove-padding {
  padding: 0 !important;
}

.ul-points li {
  color: #F1F2EE;
  font-size: 1.6rem;
  margin-left: 5em;
  /* Styles for smaller screens */
}
@media only screen and (max-width: 1000px) {
  .ul-points li {
    font-size: 1.2rem;
    text-align: center;
    margin-left: 0;
    color: gray;
  }
}

/* Styles for section hours */
.section-hours {
  height: 10rem;
  margin-top: 5rem;
}
@media only screen and (max-width: 1024px) {
  .section-hours {
    margin-top: 3rem;
  }
}

.title-three {
  color: #7E8564;
  margin: 1rem;
}

/* Add image in background image*/
.img-vitaly-title {
  background-image: url("../img/vitaly/img-vitaly-title.jpg");
}

/* Vitaly information styles */
.info-vitaly {
  justify-content: center;
  text-align: center;
  margin: 4rem;
}

.card {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 100%;
  border: 0;
  min-height: 28em;
}

.card-title {
  font-size: 1.5rem;
  color: #7D8566;
  font-weight: 400;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.back {
  background: #7D8566;
  color: white;
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 2rem;
  color: #7D8566;
  text-align: center;
  font-size: 1.6rem;
  border-radius: 5px;
  backface-visibility: hidden;
}

.paragraph-back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 1rem;
  color: white;
}

/* Footer styles */
footer {
  background-color: #7D8566;
  padding: 2rem;
  text-align: center;
  margin-top: 5rem;
}
footer ul {
  display: flex;
  margin: 0;
  justify-content: center;
  padding: 0;
}
footer ul li {
  list-style: none;
  width: 4em;
  height: 4em;
  /* Footer social icons styles*/
}
footer ul li span {
  border-radius: 50%;
  width: 70%;
  height: 70%;
  background: #2a2a2a;
  justify-content: center;
  align-items: center;
  margin: auto;
}
footer ul li span:hover {
  transition: 0.3s;
}
footer ul li .social-icons {
  display: flex;
  font-size: 1.3rem;
  color: white;
  transition: 1s ease-out;
}
footer ul li:nth-child(1):hover span {
  background: #2C3456;
}
footer ul li:nth-child(2):hover span {
  background: #CC296C;
}

/* global styles */
* {
  margin: 0;
  padding: 0;
}

/* Setting the font family for the body */
body {
  font-family: "Roboto", serif;
}

/* Removing underline from links */
a {
  text-decoration: none;
}

/* Minimum height of 70% of the viewport height */
.min-vh-70 {
  min-height: 70vh;
}

/* row margin for row styles */
.margin-rows {
  margin: 4rem auto 4rem auto;
}
@media only screen and (max-width: 1024px) {
  .margin-rows {
    margin: auto;
  }
}

h1 {
  font-size: 2rem;
  color: #7D8566;
}

/* Removing bootstrap default margin bottom for paragraphs */
p {
  margin-bottom: 0;
  color: white;
}

li {
  list-style: none;
}

/* sticky-whatsapp-logo image styles */
.whatsapp-logo-img {
  height: 100%;
  width: 100%;
}

/* Sticky button styles */
.fixed-whatsapp-logo {
  width: 5rem;
  height: 5rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

/* Container row icons styles */
.container-row-icons {
  height: 25rem;
}

/* Container row icons styles for smaller screens */
@media only screen and (max-width: 1024px) {
  .container-row-icons {
    height: 100vh;
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
}
/* Section row icons styles */
.section-row-icons {
  background-color: rgba(126, 133, 100, 0.1);
}

/* Paragraph information icons styles */
.paragraph-info-icons {
  font-size: 1.2rem;
  color: gray;
  margin-top: 2rem;
}

/* Styling for span elements */
span {
  font-weight: bold;
  color: rgba(42, 42, 42, 0.72);
  margin-bottom: 0.5rem;
  display: block;
}

.slide-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Global hidden styles for mobile */
.hidden-mobile {
  display: block;
}

/* Hidden carousel styles for smaller screens */
@media only screen and (max-width: 1000px) {
  .hidden-mobile {
    display: none;
  }
}
/* Showed global styles for mobile */
.show-mobile {
  display: none;
}

/* Showed carousel styles for smaller screens */
@media only screen and (max-width: 1000px) {
  .show-mobile {
    display: block;
  }
}
/*Styles for globals titles*/
.global-title {
  color: #7D8566;
  font-size: 3.5rem;
}

/* form styles for smaller screens */
@media only screen and (max-width: 1000px) {
  .global-title {
    font-size: 2rem;
  }
}
.pharagraph-global {
  color: gray;
  font-size: 1.3rem;
}

/* form styles for smaller screens */
@media only screen and (max-width: 1000px) {
  .pharagraph-global {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}
.img-global-title {
  max-width: 100%;
}

/* Padding with 2 rem */
.padding-2 {
  padding: 2rem;
}

/*Remove all margin and padding from bootstrap */
.remove-margin-all {
  margin: 0;
}

/*Remove margin and padding from bootstrap */
.remove-margin {
  margin-right: 0;
}

.row-color {
  background-color: rgba(126, 133, 100, 0.1);
}

/* Global image styles */
.image-global {
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Image global styles for smaller screens */
@media only screen and (max-width: 1000px) {
  .image-global {
    height: 30vh;
  }
}
.title-second {
  color: #7D8566;
  margin: 3rem;
}

/*# sourceMappingURL=styles.css.map */
