/* Importing Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Setting the font family for the body */
body {
    font-family: 'Roboto', serif;
}

/* Removing underline from links */
a {
    text-decoration: none;
}

#header {
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #F8F8FA;
}

.navbar a:hover {
    color: #798DA3;
}

/* Active navbar link styles */
.navbar-nav .nav-link.active {
    color: black;
}

.nav-link {
    color: #3B4754;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 1rem;
}


/* Minimum height of 70% of the viewport height */
.min-vh-70 {
    min-height: 70vh;
}

/* About section row styles */
.row-about {
    margin: 4rem auto 4rem auto;
}

/* About section column styles */
.column-about {
    flex: 50%;
    text-align: center;
    justify-content: center;
}

h1 {
    font-size: 1.8rem;
    color: #3B4754;
}

/* Subheading styles */
.about {
    font-size: 1.2rem;
    color: #798DA3;
    display: block;
}

/* Pharmacy image styles */
.pharmacy-img {
    max-width: 80vw;
}

/* Pharmacy image styles for smaller screens */
@media only screen and (max-width: 1000px) {
    .pharmacy-img {
        margin-top: 2rem;
    }
}

/* Removing bootstrap default margin bottom for paragraphs */
p {
    margin-bottom: 0;
}

/* Paragraph styles for the about section */
.paragraph-about {
    color: #798DA3;
    font-size: 1rem;
    white-space: pre-line;
}

/* Pharmacy image styles for the about section */
.pharmacy-img-about {
    max-width: 100%;
    margin-top: 5rem;
}

/* Contact section title styles */
.contact-title {
    margin-bottom: 1.5rem;
}

/* Contact section paragraph styles */
.contact-paragraph {
    font-size: 1rem;
    color: #798DA3;
    margin-bottom: 1rem;
    display: block;
}

/* sticky-whatsapp-logo image styles */
.whatsapp-logo-img {
    height: 100%;
    width: 100%;
}

/* Sticky button styles */
.fixed-whatsapp-logo {
    width: 5rem;
    height: 5rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

/* Statistics section styles */
.section-stats {
    background-color: #F8F8FA;
}

/* Statistics container styles */
.stats-container {
    height: 25rem;
}

/* Statistics container styles for smaller screens */
@media only screen and (max-width: 1024px) {
    .stats-container {
        height: 100vh;
        padding-bottom: 5rem;
        padding-top: 5rem;
    }
}

/* Statistics information styles */
.info-stats {
    font-size: 1.2rem;
    color: #798DA3;
    margin-top: 1rem;
}

/* Styling for span elements */
span {
    font-weight: bold;
    color: #3B4754;
    margin-bottom: 0.5rem;
    display: block;
}

/* Brand section styles */
.brand {
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Vitaly image styles */
.vitaly-img {
    max-width: 80vw;
    margin-top: 2rem;
}

/* Button container styles */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Catalog button styles */
.button-catalogo {
    color: ghostwhite;
    background-color: #3B4754;
    border-radius: 2rem;
    padding: 1rem 1.2rem 1rem 1.2rem;
    font-size: 1.2rem;
    text-decoration: none;
    border-style: solid;
    border-width: thin;
}

/* Hover styles for catalog button */
.button-catalogo:hover {
    background-color: #798DA3;
}

/* Vitaly information styles */
.info-vitaly {
    justify-content: center;
    text-align: center;
    margin: 1.5rem;
}

/* Paragraph styles for the Vitaly section */
.paragraph-vitaly {
    color: #798DA3;
    font-size: 1.3rem;
    white-space: pre-line;
}

/* Carousel styles for the Vitaly section */
.carousel-vitaly {
    margin: 0 auto;
    width: 45%;
}

/* Carousel styles for smaller screens */
@media only screen and (max-width: 1000px) {
    .carousel-vitaly {
        width: 100%;
    }

    .paragraph-vitaly {
        font-size: 1rem;
    }
}

.slide-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gif-maps {
    height: 80%;
    width: 100%;
}

/* Margin styles for contact section row */
.contact-row-margin {
    margin-top: 2.5rem;
}

.maps-container {
    display: flex;
    margin: 2.5rem;
}

.contact-container {
    margin: 2.5rem;
}

form {
    max-width: 400px;
    margin-top: 2rem;
}

/* Label styles for form fields */
label {
    display: block;
    margin-bottom: 5px;
}

/* Input and textarea styles for form fields */
input, textarea {
    width: 100%;
    padding: 0.5rem;
    border: 0.1rem solid #4CAF50;
    border-radius: 1rem;
    box-sizing: border-box;
    margin-bottom: 0.6rem;
}

/* Submit button styles */
.button-enviar {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 2rem;
    width: 7rem;
}

/* Hover styles for submit button */
.button-enviar:hover {
    background-color: #798DA3;
}

/* Footer styles */
footer {
    background-color: #F8F8FA;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}

.footer-social {
    display: flex;
    margin-left: 10rem;
}

.social-icon {
    margin-right: 1rem;
}

.footer-author {
    text-align: right;
    margin-right: 10rem;
}

/* Footer styles for smaller screens */
@media only screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-social {
        margin-bottom: 1rem;
        margin-left: 0;
    }

    .footer-author {
        text-align: center;
        margin-right: 0;
    }
}

/* Hidden carousel styles for mobile */
.hidden-mobile {
    display: block;
}

/* Hidden carousel styles for smaller screens */
@media only screen and (max-width: 1000px) {
    .hidden-mobile {
        display: none;
    }
}

/* Showed carousel styles for mobile */
.show-mobile {
    display: none;
}

/* Showed carousel styles for smaller screens */
@media only screen and (max-width: 1000px) {
    .show-mobile {
        display: block;
    }
}