/* Subheading styles in index.html */
.about {
  font-size: 1.2rem;
  color: #798DA3;
  display: block;
}

.row-about {
  height: 90vh;
}

/* Pharmacy image styles */
.pharmacy-img {
  max-width: 80vw;
}

/* Pharmacy image styles for smaller screens */
@media only screen and (max-width: 1000px) {
  .pharmacy-img {
    margin-top: 2rem;
  }
}

/*Removing bootstraps container styles*/
.container-flower{
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
}

/* Row vitaly styles */
.row-vitaly {
  margin-top: 5rem;
}

/* Button container styles */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Catalog button styles */
.button-catalogo {
  color: ghostwhite;
  background-color: #7D8566;
  border-radius: 2rem;
  padding: 1rem 1.2rem 1rem 1.2rem;
  font-size: 1.2rem;
  text-decoration: none;
  border-width: thin;
}

/* Hover styles for catalog button */
.button-catalogo:hover {
  cursor: pointer;
  background-color: #8A8D7D;
}
