.img-points-title {
  background-image: url('../img/banner/img-points-title.jpg');
}

.gif-maps {
  height: 80%;
  width: 100%;
}

.image-container {
  position: relative;
  display: inline-block;
}

.text-overlay {
  position: absolute;
  top: 90%;
  left: 70%;
  transform: translate(-50%, -50%);
  padding: 20px;
  margin-top: 12rem;
}

.text-overlay li {
  color: #3B4754;
  font-size: 24px;
}

.section-hours {
  height: 10rem;
}

.asd {
}

.title-three {
  color: #3B4754;
  font-size: 1.3rem;
}

