$img-points-title: '../img/banner/img-points-title.jpg';
$colorgreen: #7E8564;
$colorli: #F1F2EE;

/* Add image in background image*/
.img-points-title {
  background-image: url($img-points-title);
}

.background-color-map{
  background-color: $colorgreen;
  @media only screen and (max-width: 1000px) {
    background-color: white;
  }
}

.gif-maps {
  height: 80%;
  width: 100%;
}

.image-container {
  position: relative;
  display: inline-block;
}

/* Removing padding from Boostrap*/
.remove-padding {
  padding: 0!important;
}

.ul-points li {
  color: $colorli;
  font-size: 1.6rem;
  margin-left: 5em;

  /* Styles for smaller screens */
  @media only screen and (max-width: 1000px) {
    font-size: 1.2rem;
    text-align: center;
    margin-left: 0;
    color: #2a2a2a;
  }
}

/* Styles for section hours */
.section-hours {
  height: 10rem;
  margin-top: 5rem;

  @media only screen and (max-width: 1024px) {
    margin-top: 4rem;
  }
}

.title-three {
  color: $colorgreen;
  margin: 1rem;
}
