.img-vitaly-title {
  background-image: url('../img/vitaly/img-vitaly-title.jpg');
}

/* Vitaly information styles */
.info-vitaly {
  justify-content: center;
  text-align: center;
  margin: 4rem;
}

/* Paragraph styles for the Vitaly section */
.paragraph-vitaly {
  color: #798DA3;
  font-size: 1.3rem;
  white-space: pre-line;
  margin: 2rem;
}

/* Carousel styles for smaller screens */
@media only screen and (max-width: 1000px) {
  .paragraph-vitaly {
    font-size: 1rem;
  }
}

.card {
  margin-bottom: 1.5rem;
}

.card:hover {

}



