@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

/* Footer styles */
footer {
  background-color: #7D8566;
  padding: 2rem;
  text-align: center;
  margin-top: 5rem;

  ul {
    display: flex;
    margin: 0;
    justify-content: center;
    padding: 0;

    li {
      list-style: none;
      width: 4em;
      height: 4em;

      span {
        border-radius: 50%;
        width: 70%;
        height: 70%;
        background: #2a2a2a;
        justify-content: center;
        align-items: center;
        margin: auto;

        &:hover {
          transition: 0.3s;
        }
      }
/* Footer social icons styles*/
      .social-icons{
        display: flex;
        font-size: 1.3rem;
        color: #fff;
        transition: 1s ease-out;
      }

      &:nth-child(1):hover span {
        background: #2C3456;
      }

      &:nth-child(2):hover span {
        background: #CC296C;
      }
    }
  }

}

