#header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #F8F8FA;

  a:hover {
    color: #7D8566;
  }

  .margin-logo {
    margin-left: 2rem;
  }
}

/* Active navbar link styles */
.navbar-nav {
  .nav-link.active {
    color: black;
  }
}

.nav-link {
  color: #3B4754;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
