#header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar {
  box-shadow: 0 1px 1px 0 rgba(250, 232, 212, 1), 0 1px 1px 0 rgb(154, 171, 129);
  background-color: #7D8566;
  font-weight: 300;
  height: 10vh;
  a:hover {
    color: #FAE8D4;
  }

  .margin-logo {
    margin-left: 2rem;
  }
}

/* Active navbar link styles */
.navbar-nav {
  .nav-link.active {
    color: #FAE8D4;
    font-weight: 400;
  }
}

.nav-link {
  color: white;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
